[buildout]
package-name = sde.videorent
package-extras = [test]

extends =
    http://dist.plone.org/release/4.3.20/versions.cfg
    checkouts.cfg
    sources.cfg
    versions.cfg

develop = .

eggs +=
    Pillow
    ipdb

parts +=
    instance

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8081
zserver-threads = 2
debug-mode = off
verbose-security = off

environment-vars =
  PYTHON_EGG_CACHE ${buildout:directory}/python-eggs
  zope_i18n_compile_mo_files true

# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = ${buildout:eggs} my.package
eggs =
    ${buildout:eggs}
    Plone
